
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Helpermate!</h1>
      <p>部員が足らず、大会に出られない! 急に部員が欠席して大会に出られない！そんな際に助っ人してくれる人を探すことを目的としたSNSです！</p>

      <p><a class="btn btn-primary btn-lg" href="#" role="button">求人を出す</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる »</a></p>
      </div>
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる »</a></p>
      </div>
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>